<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8" />
	<title>一个模版页面</title>
    <!-- bower:css -->
    <!-- endbower -->
	<link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <div id="header">
    	<div id="header-inner">
	    	<h1 class="logo">
	    		<a href="#">LOGO</a>
	    	</h1>
    	</div>
    </div>
    <div id="content">
    	<div id="content-inner">
    		<p>这是你的项目首页，从这里开始...</p>
    	</div>
    </div>
    <div id="footer">
    	<div id="footer-inner">
    		<p class="copyright">
    			&copy;2014-2018
    		</p>
    	</div>
    </div>
    <!-- bower:js -->
    <!-- endbower -->
</body>
</html>