/*----------------------------------------------------------
	Layout styles
----------------------------------------------------------*/

/* Main
----------------------------------------------------------*/

.main {
	border-top: solid 1px #eee;
	padding-top: 30px;
}

/* Content
----------------------------------------------------------*/

.content {
	width: 690px;
	float: left;
}


/* Sidebar
----------------------------------------------------------*/

.sidebar {
	width: 200px;
	float: right;
}


/* Footer
----------------------------------------------------------*/

.footer {
	clear: both;
	border-top: solid 1px #ddd;
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size: 13px;
	color: #aaa;
}


