@mixin center-blcok{
	margin-left: auto;
	margin-right: auto;
}

#header-inner, #content-inner, #footer-inner{
	@include center-blcok;
}

/* header
-------------------------------*/
#header{
	background: #fff url(../images/header_bg.png) 0 0 repeat;
	&-innner{
		border: 1px solid #ddd;
		background-color: #f1f1f1;
	}
	.logo{
		width: 200px;
		height: 80px;
		background: url(../images/logo.png) 0 0 no-repeat;
		a{
			text-indent: -9999px;
			display: block;
			height: 80px;
		}
	}
}