<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title> <%= projectName %>Demo </title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta name="format-detection" content="telephone=no" />
    <meta content="false" name="twcClient" id="twcClient" />
    <!-- favicon -->
    <link type="image/x-icon" href="favicon.ico" rel="shortcut icon" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="57-57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="72-72.png" />
    <link rel="apple-touch-startup-image" href="320-460.png" />
    <!-- styles -->
    <link rel="stylesheet" href="css/base/reset.min.css" />
    <link rel="stylesheet" href="css/base/global.min.css" />
    <link rel="stylesheet" href="css/page.<%= cssCompile %>.css"/>
    <!--javascript-->
    <script type="text/javascript" src="js/global.js"></script>

    <!-- 导入公共头部分 -->
    <!--#include src="../header.html" -->
</head>
<body>

</body>
</html>
