<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8"/>
	<title><%= projectName %> - index demo</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <!-- build:css({.tmp,dist}) css/index.css -->
    <link href="css/module/base/base.css" rel="stylesheet"/>
    <link href="css/module/base/layout.css" rel="stylesheet"/>
    <link href="css/module/base/modules.css" rel="stylesheet"/>
    <link href="css/page/index.css" rel="stylesheet"/>
    <!-- endbuild -->
    <% if (includeHtml5shiv) { %>
    <!--[if lt IE 9]><script src="js/components/html5shiv/dist/html5shiv.min.js"></script><![endif]-->
    <% } %>
</head>
<body>
    <!--#include file="../module/header/index.html" -->
    <div id="content">
    内容模块在此...
    </div><!-- #content -->
    <!--#include file="../module/footer/index.html" -->
    <!-- build:js({.tmp,dist}) js/site.js-->
    <% if (includejQuery) {%>
    <script src="js/components/jquery/jquery.min.js"></script><% } if (includeRequirejs) { %>
    <script src="js/components/requirejs/require.js"></script><% } if (includeSeajs) { %>
    <script src="js/components/seajs/seajs.js"></script><% } %>
    <script src="js/page/index.js"></script>
    <!-- endbuild -->
</body>
</html>